1. Create a list with values ranging from 0 to 9.

In [1]:
lst = list(range(10))
print(lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Exercise 2: Convert a list of integers to a list of strings.

In [2]:
lst = list(map(str, lst))
print(lst)

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

Exercise 3: Multiply all elements in a list by 2.

In [3]:
lst = [1,2,3,4,5,6]
lst_2x = [i * 2 for i in lst]
print(lst_2x)

[2, 4, 6, 8, 10, 12]

Exercise 4:Extract all odd numbers from a list of integers.

In [4]:
lst_odd = [x for x in lst if x % 2 != 0]
print(lst_odd)

[1, 3, 5]

Exercise 5: Replace all odd numbers in a list with -1.

In [5]:
lst_replace = [-1 if x % 2 != 0 else x for x in lst]
print(lst_replace)

[-1, 2, -1, 4, -1, 6]

Exercise 6: Convert a list of integers to a list of booleans where all non-zero values become True.

In [7]:
lst = [-1, 2, 0, -4, 5]
bool_lst = [True if x != 0 else False for x in lst]
bool_lst

[True, True, False, True, True]

Exercise 7: Replace all even numbers in a list with their negative.

In [9]:
lst = list(range(1, 10))
lst_neg_even = [-x if x % 2 == 0 else x for x in lst]
print(lst_neg_even)

[1, -2, 3, -4, 5, -6, 7, -8, 9]

Exercise 8: Create a 3x3 list of lists with random values and normalize it.

In [11]:
import random

matrix = [[random.random() for _ in range(3)] for _ in range(3)]
mean = sum(sum(row) for row in matrix) / 9
std = (sum((x - mean) ** 2 for row in matrix for x in row) / 9) ** 0.5
normalized_matrix = [[(x - mean) / std for x in row] for row in matrix]
print(normalized_matrix)

[[1.6592086560501575, 0.10203732230626253, 0.6291224776912865], [1.0115826146265499, -1.1551565968461284, -1.3334114234870584], [-0.08040744646118601, -1.2386064731470972, 0.4056308692672146]]

Exercise 9: Calculate the sum of the diagonal elements of a 3x3 matrix (list of lists).

In [12]:
matrix = [[1,2,3], [1,2,3], [1,2,3]]
diagnol_sum = sum(matrix[i][i] for i in range(3))
print(diagnol_sum)

6

Exercise 10: Find the indices of non-zero elements in a list.

In [13]:
lst = [1,0,5,9,8,7,3,0,5,0,4,6]
non_zero = [i for i in range(len(lst)) if lst[i] != 0]
print(non_zero)

[0, 2, 3, 4, 5, 6, 8, 10, 11]

Exercise 11: Reverse a list.

In [14]:
lst_reverse = lst[::-1]
print(lst_reverse)

[6, 4, 0, 5, 0, 3, 7, 8, 9, 5, 0, 1]

Exercise 12: Create a 3x3 identity matrix as a list of lists.

In [15]:
identity_matrix = [[1 if i == j else 0 for j in range(3)] for i in range(3)]
print(identity_matrix)

[[1, 0, 0], [0, 1, 0], [0, 0, 1]]

Exercise 13: Reshape a 1D list to a 2D list with 2 rows.

In [16]:
lst = list(range(10))
reshaped_lst = [lst[:5], lst[5:]]
print(reshaped_lst)

[[0, 1, 2, 3, 4], [5, 6, 7, 8, 9]]

Exercise 14: Stack two lists vertically.

In [17]:
l1 = [1,2,3]
l2 = [4,5,6]
stacked_lst = [l1, l2]
print(stacked_lst)

[[1, 2, 3], [4, 5, 6]]

Exercise 15: Get the common items between two lists.

In [18]:
l1 = [1,2,3,4,5,6]
l2 = [1,2,3,7,8,9]
common_item = [i for i in l1 if i in l2]
print(common_item)

[1, 2, 3]

Exercise 16: Create a 5x5 list of lists with row values ranging from 0 to 4.

In [19]:
matrix = [[i for i in range(5)] for _ in range(5)]
print(matrix)

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

Exercise 17: Find the index of the maximum value in a list.

In [20]:
lst = [3,7,5,9,4,2,1]
min_index = lst.index(min(lst))
print(min_index)

6

Exercise 18: Normalize the values in a list between 0 and 1.

In [21]:
lst = [2,5,9,7,6,3]
min_val, max_val = min(lst), max(lst)
normalized_lst = [(x - min_val) / (max_val - min_val) for x in lst]
print(normalized_lst)

[0.0, 0.42857142857142855, 1.0, 0.7142857142857143, 0.5714285714285714, 0.14285714285714285]

Exercise 19: Calculate the dot product of two lists.

In [25]:
l1 = [1,2,3]
l2 = [4,5,6]
dot_prod = sum(x * y for x,y in zip(l1, l2))
print(dot_prod)

32

Exercise 20: Count the number of elements in a list within a specific range.

In [29]:
lst = [2,5,8,10,12,15]
count_within_range = sum(5 <= x <= 12 for x in lst)
print(count_within_range)

4

Exercise 21: Find the mean of each row in a 2D list.

In [30]:
import random

matrix = [[random.random() for _ in range(4)] for _ in range(3)]
row_mean = [sum(row) / len(row) for row in matrix]
print(row_mean)

[0.33085767585892495, 0.6482778425324206, 0.5380324101609298]

Exercise 22: Create a random 4x4 list of lists and extract the diagonal elements.

In [32]:
import random

matrix = [[random.random() for _ in range(5)] for _ in range(5)]
diagnols = [matrix[i][i] for i in range(4)]
print(diagnols)

[0.7636880778734672, 0.0269005615773934, 0.8873223238169712, 0.4277190762828371]

Exercise 23: Count the number of occurrences of a specific value in a list.

In [34]:
lst = [1,2,3,3,2,1,4,5,6,9,6,5,4,2,2]
count_of_2 = lst.count(2)
print(count_of_2)

4

Exercise 24: Replace all values in a list with the mean of the list.

In [35]:
mean_val = sum(lst) / len(lst)
mean_lst = [mean_val] * len(lst)
print(mean_lst)

[3.6666666666666665, 3.6666666666666665, 3.6666666666666665, 3.6666666666666665, 3.6666666666666665, 3.6666666666666665, 3.6666666666666665, 3.6666666666666665, 3.6666666666666665, 3.6666666666666665, 3.6666666666666665, 3.6666666666666665, 3.6666666666666665, 3.6666666666666665, 3.6666666666666665]

Exercise 25: Find the indices of the maximum and minimum values in a list.

In [36]:
lst = [4,5,9,2,3,7,2,6,8]
min_ind = lst.index(min(lst))
max_ind = lst.index(max(lst))
print(f'Min Index :{min_ind}, Max Index :{max_ind}')

Min Index :3, Max Index :2

Exercise 26: Create a 2D list with 1 on the border and 0 inside.

In [38]:
matrix = [[1 if i == 0 or i == 4 or j == 0 or j == 4 else 0 for i in range(5)] for j in range(5)]
print(matrix)

[[1, 1, 1, 1, 1], [1, 0, 0, 0, 1], [1, 0, 0, 0, 1], [1, 0, 0, 0, 1], [1, 1, 1, 1, 1]]

Exercise 27: Find the unique values and their counts in a list.

In [41]:
lst = [1, 2, 3, 2, 4, 1, 5, 4, 6]
unique_val = list(set(lst))
count = {x:lst.count(x) for x in unique_val}
print('Unique Values: ',unique_val)
print('Counts: ', count)

Unique Values:  [1, 2, 3, 4, 5, 6]
Counts:  {1: 2, 2: 2, 3: 1, 4: 2, 5: 1, 6: 1}

Exercise 28: Create a 3x3 list of lists with values ranging from 0 to 8.

In [44]:
matrix = [[i + j*3 for i in range(3)] for j in range(3)]
print(matrix)

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

Exercise 29: Calculate the exponential of all elements in a list.

In [45]:
import math
lst = [1,2,3,4,5,6]
exponential_lst = [math.exp(x) for x in lst]
print(exponential_lst)

[2.718281828459045, 7.38905609893065, 20.085536923187668, 54.598150033144236, 148.4131591025766, 403.4287934927351]

Exercise 30: Swap two rows in a 2D list.

In [46]:
import random

matrix = [[random.random() for _ in range(3)] for _ in range(3)]
matrix[0], matrix[1] = matrix[1], matrix[0]
print(matrix)

[[0.06442633405671794, 0.9459138171383177, 0.45282491320795804], [0.11914218378388997, 0.2141066398362551, 0.1218353199836345], [0.98775482705687, 0.17432041268635645, 0.7075385930283971]]

Exercise 31: Create a random 3x3 list of lists and replace all values greater than 0.5 with 1 and all others with 0.

In [48]:
import random

matrix = [[random.random() for _ in range(3)] for _ in range(3)]
matrix = [[1 if x > 0.5 else 0 for x in row] for row in matrix]
print(matrix)

[[0, 1, 0], [0, 1, 0], [1, 1, 1]]

Exercise 32: Find the indices of the top N maximum values in a list.

In [52]:
lst = [10,5,8,20,15]
n = 3
top_indices = sorted(range(len(lst)), key = lambda i: lst[i], reverse = True)[:n]
print(top_indices)

[3, 4, 0]

Exercise 33: Calculate the mean of each column in a 2D list.

In [53]:
import random

matrix = [[random.random() for _ in range(3)] for _ in range(3)]
col_means = [sum(row[i] for row in matrix) / len(matrix) for i in range(3)]
print(col_means)

[0.4129849826754281, 0.6350585220407777, 0.7127196338463828]

Exercise 34: Normalize the values in each column of a 2D list.

In [1]:
import random

matrix = [[random.random() for _ in range(3)] for _ in range(4)]
normalized_matrix = [[(x - min(col)) / (max(col) - min(col)) for x in col] for col in zip(*matrix)]
normalized_matrix = list(map(list, zip(*normalized_matrix)))
print(normalized_matrix)

[[0.23861802983431515, 0.0, 0.6734801022685138], [0.9475085937391251, 0.22568380925206113, 0.11856002921127466], [0.0, 1.0, 0.0], [1.0, 0.3201398178400801, 1.0]]

Exercise 35: Concatenate two lists.

In [2]:
l1 = [1,2,3]
l2 = [4,5,6]
con_l = l1 + l2
print(con_l)

[1, 2, 3, 4, 5, 6]

Exercise 36: Create a 2D list with random values and sort each row.

In [3]:
import random
matrix = [[random.random() for _ in range(4)] for _ in range(3)]
sorted_matrix = [sorted(row) for row in matrix]
print(sorted_matrix)

[[0.24269900228719943, 0.3600458180730177, 0.8767173463965563, 0.9048126169693105], [0.04437692271082694, 0.3223100406272984, 0.3642973665307193, 0.519212745735757], [0.3278704833037802, 0.737524264827173, 0.9296848509840155, 0.9657242393097166]]

Exercise 37: Check if all elements in a list are non-zero.

In [4]:
l = [1,2,3,4]
all_nonzero = all(l)
print(all_nonzero)

True

Exercise 38: Find the indices of the maximum value in each row of a 2D list.

In [5]:
import random
matrix = [[random.random() for _ in range(4)] for _ in range(3)]
max_indices_per_row = [row.index(max(row)) for row in matrix]
print(max_indices_per_row)

[3, 2, 2]

Exercise 39: Create a 2D list and replace all nan values with the mean of the list.

In [7]:
import numpy as np
matrix = [[1,float('nan'), 2],[4,5,float('nan')],[7,8,9]]
array_data = np.array(matrix)
print(array_data)
mean_value = np.nanmean(array_data)
print(mean_value)
array_data[np.isnan(array_data)] = mean_value
result = array_data.tolist()
print(result)

[[ 1. nan  2.]
 [ 4.  5. nan]
 [ 7.  8.  9.]]
5.142857142857143
[[1.0, 5.142857142857143, 2.0], [4.0, 5.0, 5.142857142857143], [7.0, 8.0, 9.0]]

Exercise 40: Calculate the mean of each row in a 2D list ignoring nan values.

In [9]:
import numpy as np

def mean_of_rows_ignore_nan(matrix):
    np_matrix = np.array(matrix)
    row_means = np.nanmean(np_matrix, axis = 1)
    return row_means

matrix = [
    [1, 2, np.nan],
    [4, np.nan, 6],
    [7, 8, 9]
]

print(mean_of_rows_ignore_nan(matrix))

[1.5 5.  8. ]

Exercise 41: Compute the sum of diagonal elements in a 2D list.

In [1]:
import random
matrix = [[random.random() for _ in range(3)] for _ in range(3)]
diagnol_sum = sum(matrix[i][i] for i in range(3))
print(diagnol_sum)

1.580964880034137

Exercise 42: Convert radians to degrees for each element in a list.

In [4]:
import math
lst = [math.pi / 2, math.pi, 3 * math.pi / 2]
degrees_lst = [math.degrees(x) for x in lst]
print(degrees_lst)

[90.0, 180.0, 270.0]

Exercise 43: Calculate the pairwise Euclidean distance between two lists.

In [5]:
l1 = [1,2,3]
l2 = [4,5,6]
euclidean_dist = sum((x - y) ** 2 for x,y in zip(l1, l2)) ** 0.5
print(euclidean_dist)

5.196152422706632

Exercise 44: Create a list and set the values between the 25th and 75th percentile to 0.

In [6]:
lst = [10, 20, 30, 40, 50]
percentile_25th = sorted(lst)[int(len(lst) * 0.25)]
percentile_75th = sorted(lst)[int(len(lst) * 0.75)]
lst = [0 if percentile_25th <= x <= percentile_75th else x for x in lst]
print(lst)

[10, 0, 0, 0, 50]

Exercise 45: Calculate the element-wise square of the difference between two lists.

In [7]:
lst1 = [1,2,3]
lst2 = [4,5,6]
squared_diff = [(x-y) ** 2 for x, y in zip(lst1, lst2)]
print(squared_diff)

[9, 9, 9]

Exercise 46: Replace all even numbers in a list with the next odd number.

In [9]:
lst = [2,5,8,12,15]
next_odd_lst = [x + 1 if x % 2 == 0 else x for x in lst]
print(next_odd_lst)

[3, 5, 9, 13, 15]

Exercise 47: Create a 2D list and normalize each column by its range.

In [10]:
import random
matrix = [[random.random() for _ in range(3)] for _ in range(3)]
min_col = [min(row[i] for row in matrix) for i in range(3)]
max_col = [max(row[i] for row in matrix) for i in range(3)]
normalized_matrix = [[(row[i] - min_col[i]) / (max_col[i] - min_col[i]) for i in range(3)] for row in matrix]
print(normalized_matrix)

[[0.0, 0.2358446388635091, 0.0], [0.8483077685743815, 0.0, 0.6287549397185959], [1.0, 1.0, 1.0]]

Exercise 48: Compute the cumulative sum of elements along a given axis in a 2D list.

In [11]:
import random
matrix = [[random.random() for _ in range(3)] for _ in range(3)]
cumulative_sum_axis_1 = [[sum(row[:i + 1]) for i in range(len(row))] for row in matrix]
print(cumulative_sum_axis_1)

[[0.8997058666686795, 1.1619959950875318, 1.5834159613763839], [0.9907314356188177, 1.6777070678991088, 2.314298567555603], [0.0852920895736875, 0.13510722720560653, 0.6487719129247362]]

Exercise 49: Check if any element in a list is non-zero.

In [12]:
lst = [0,0,0,1,0]
any_non_zero = any(lst)
print(any_non_zero)

True

Exercise 50: Create a 2D list with random integers and replace all values greater than a certain threshold with that threshold.

In [14]:
import random
matrix = [[random.randint(0, 100) for _ in range(4)] for _ in range(4)]
print(matrix)
threshold = 75
for row in matrix:
    for ind in range(len(row)):
        if row[ind] > threshold:
            row[ind] = threshold
print(matrix)

[[3, 6, 53, 4], [42, 80, 59, 8], [67, 48, 96, 71], [30, 17, 88, 75]]
[[3, 6, 53, 4], [42, 75, 59, 8], [67, 48, 75, 71], [30, 17, 75, 75]]

Exercise 51: Find the median of a list of numbers.

In [15]:
lst = [2, 5, 1, 3, 4]
lst.sort()
n = len(lst)
if n % 2 != 0:
    median = lst[n // 2]
else:
    median = (lst[n // 2 - 1] + lst[n // 2]) / 2

print(median)

3

Exercise 52: Convert a list of numbers to a list of their logarithms.

In [16]:
import math
lst = [1,10,100,1000]
log_lst = [math.log10(x) for x in lst]
print(log_lst)

[0.0, 1.0, 2.0, 3.0]

Exercise 53: Find the mode of a list of numbers.

In [17]:
from collections import Counter
lst = [1,2,2,3,3,3,4,4]
mode = Counter(lst).most_common(1)[0][0]
print(mode)

3

Exercise 54: Flatten a list of lists.

In [18]:
nested_lst = [[1,2,3],[4,5],[6,7,8,9]]
flat_lst = []
for sublst in nested_lst:
    for ele in sublst:
        flat_lst.append(ele)

print(flat_lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

Exercise 55: Transpose a 2D list.

In [20]:
matrix = [[1,2,3],[4,5,6],[7,8,9]]
transpose_matrix = []
for i in range(len(matrix[0])):
    trans_row = []
    for row in matrix:
        trans_row.append(row[i])
    transpose_matrix.append(trans_row)
    
print(transpose_matrix)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

Exercise 56: Remove duplicates from a list while preserving order.

In [21]:
lst = [1,2,2,3,4,4,5]
seen = list(set(lst))
print(seen)

[1, 2, 3, 4, 5]

Exercise 57: Find the intersection of two lists.

In [22]:
l1 = [1,2,3,4]
l2 = [3,4,5,6]
intersection = list(set(l1) & set(l2))
print(intersection)

[3, 4]

Exercise 58: Merge two dictionaries.

In [23]:
d1 = {'a' : 1, 'b' : 2}
d2 = {'c' : 3, 'd' : 4}
merged_d = {**d1, **d2}
print(merged_d)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

Exercise 59: Sort a list of dictionaries by a key.

In [24]:
lst  = [{'name' : 'Anej', 'age' : 25}, {'name' : 'Matteo', 'age' : 22}, {'name' : 'Eliza', 'age' : 28}]
sorted_l = sorted(lst, key = lambda x: x['age'])
print(sorted_l)

[{'name': 'Matteo', 'age': 22}, {'name': 'Anej', 'age': 25}, {'name': 'Eliza', 'age': 28}]

Exercise 60: Filter a dictionary based on its values.

In [25]:
d = {'a' : 1, 'b' : 2, 'c' : 3}
filtered_d = {k : v for k,v in d.items() if v > 1}
print(filtered_d)

{'b': 2, 'c': 3}

Exercise 61: Create a dictionary from two lists.

In [5]:
keys = ['a', 'b', 'c']
values = [1,2,3]
dict_from_list = dict(zip(keys, values))
print(dict_from_list)

{'a': 1, 'b': 2, 'c': 3}

Exercise 62: Find the maximum value in a dictionary.

In [7]:
max_val = max(dict_from_list.values())
print(max_val)

3

Exercise 63: Invert a dictionary (swap keys and values).

In [17]:
inverted_dict = {v : k for k,v in dict_from_list.items()}
print(inverted_dict)

{1: 'a', 2: 'b', 3: 'c'}

Exercise 64: Create a dictionary with a default value.

In [35]:
keys = ['a', 'b', 'c']
default_value = 0
default_dict = {k : default_value for k in keys}
print(default_dict)
print(default_dict['a'])

{'a': 0, 'b': 0, 'c': 0}
0

Exercise 65 : Convert a dictionary to a list of tuples.

In [20]:
print(default_dict.items())
list_of_tuples = list(default_dict.items())
print(list_of_tuples)

dict_items([('a', 0), ('b', 0), ('c', 0)])
[('a', 0), ('b', 0), ('c', 0)]

Exercise 66: Find the length of the longest string in a list.

In [21]:
lst = ['apple','banana','cherry']
max_len = max(len(x) for x in lst)
print(max_len)

6

Exercise 67: Reverse the words in a sentence.

In [27]:
sentence = 'Hello World'
reverse_sentence = ' '.join(sentence.split()[::-1])
print(reverse_sentence)

World Hello

Exercise 68: Check if a string is a palindrome.

In [31]:
s = 'Hello, World!'
s2 = 'Hello, ,olleH'
print(f's : {s}, reverse : {s[::-1]}')
print(f's2 : {s2}, reverse : {s2[::-1]}')

if s2 == s2[::-1]:
    print('True')
else:
    print('False')

s : Hello, World!, reverse : !dlroW ,olleH
s2 : Hello, ,olleH, reverse : Hello, ,olleH
True

Exercise 69: Remove punctuation from a string.

In [32]:
import re
text = 'Hello, World!'
cleaned_text = re.sub(r'[^\w\s]', '', text)
print(f'Text : {text}, Cleaned Text : {cleaned_text}')

Text : Hello, World!, Cleaned Text : Hello World

Exercise 70: Count the occurrences of each character in a string.

In [33]:
from collections import Counter
s = "hello"
char_count = Counter(s)
print(char_count)

Counter({'l': 2, 'h': 1, 'e': 1, 'o': 1})

In [34]:
char_count = {}

for char in s:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1

print(char_count)

{'h': 1, 'e': 1, 'l': 2, 'o': 1}

Exercise 71: Find the longest common prefix among a list of strings.

In [39]:
lst = ['flower', 'flow','flight']

def longest_common_prefix(strs):
    if not strs:
        return ''
    strs.sort()
    print(strs)
    first = strs[0]
    print(first)
    last = strs[-1]
    print(last)
    i = 0

    while i < len(first) and i < len(last) and first[i] == last[i]:
        i += 1
    return first[:i]

print(longest_common_prefix(lst))

['flight', 'flow', 'flower']
flight
flower
fl

Exercise 72: Convert a string to a list of characters.

In [40]:
s = 'string'
string_list = list(s)
print(string_list)

['s', 't', 'r', 'i', 'n', 'g']

Exercise 73: Generate a list of random integers.

In [42]:
import random
random_int = [random.randint(1, 100) for _ in range(4)]
print(random_int)

[25, 68, 11, 85]

Exercise 74: Shuffle a list.

In [43]:
import random

lst = [1,2,3,4,5,6]
random.shuffle(lst)
print(lst)

[4, 6, 2, 3, 5, 1]

Exercise 75: Generate a random password of a given length.

In [46]:
import string
import random
length = 8
password = ''.join(random.choice(string.ascii_letters + string.digits) for _ in range(length))
print(password)

xOS380Xd

Exercise 76: Calculate the factorial of a number.

In [47]:
def factorial(n):
    return 1 if n == 0 else n * factorial(n - 1)

print(factorial(5))

120

Exercise 77: Calculate the Fibonacci sequence up to a given number of terms.

In [48]:
def fibonacci_seq(n):
    if n <= 0:
        return []
    elif n == 1:
        return [0]
    elif n == 2:
        return [0,1]
    sequence = [0,1]
    for i in range(2,n):
        next_term = sequence[-1] + sequence[-2]
        sequence.append(next_term)
    return sequence

n = 10
print(fibonacci_seq(n))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

Exercise 78: Check if a number is prime.

In [49]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % 1 == 0:
            return False
    return True

print(is_prime(17))

False

Exercise 79: Find the greatest common divisor (GCD) of two numbers.

In [50]:
def gcd(a, b):
    while b:
        a, b = b, a % b
    return a

print(gcd(48, 18))

6

Exercise 80: Find the least common multiple (LCM) of two numbers.

In [51]:
def lcm(a, b):
    def gcd(a, b):
        while b:
            a, b = b, a % b
        return a
    return a * b // gcd(a, b)
print(lcm(4, 5))

20

Exercise 81: Sort a list of tuples by the second element.

In [52]:
lst = [(1,3), (2,2), (3,1)]
sorted_lst = sorted(lst, key = lambda x : x[1])
print(sorted_lst)

[(3, 1), (2, 2), (1, 3)]

Exercise 82: Find the second largest number in a list.

In [56]:
lst = [5,8,3,7,4,6,9,2,4,5,3]
lst.sort()
second_largest = lst[-2]
print(second_largest)

8

Exercise 83: Check if a list is a palindrome.

In [57]:
lst = [1,2,3,2,1]
if lst == lst[::-1]:
    print('True')
else:
    print('False')

True

Exercise 84: Find the sum of the digits of a number.

In [58]:
n = 89
sum_digit = sum(int(digit) for digit in str(n))
print(sum_digit)

17

Exercise 85: Find the product of the digits of a number.

In [60]:
prod = 1
n = 4568
for i in str(n):
    prod = prod * int(i)

print(prod)

960

Exercise 86: Check if a string is a valid number.

In [63]:
n = '465.45'
is_valid_num = s.replace('.', '',1).isdigit()
print(is_valid_num)

False

Exercise 87: Find the length of the longest word in a sentence.

In [64]:
sentence = 'This is a sentence with long words.'
longest_word_len = max(len(word) for word in sentence.split())
print(longest_word_len)

8

Exercise 88: Convert a list of tuples to a dictionary.

In [65]:
list_of_tuples = [('a', 1), ('b', 3), ('c', 5)]
d = dict(list_of_tuples)
print(d)

{'a': 1, 'b': 3, 'c': 5}

Exercise 89: Filter a list of dictionaries based on a key value.

In [66]:
lst = [{'name': 'Vivek', 'age': 25}, {'name': 'Esther', 'age': 22}, {'name': ' Neassa', 'age': 28}]                            
filtered_l = [x for x in lst if x['age'] > 23]
print(filtered_l)

[{'name': 'Vivek', 'age': 25}, {'name': ' Neassa', 'age': 28}]

Exercise 90: Sort a list of tuples by multiple keys.

In [1]:
lst = [('Aisha', 'A', 25), (' Remy', 'B', 22), ('Meine', 'A', 28)]
sorted_list = sorted(lst, key = lambda x: (x[1], x[2]))
print(sorted_list)

[('Aisha', 'A', 25), ('Meine', 'A', 28), (' Remy', 'B', 22)]

Exercise 91: Merge two lists into a dictionary, using one as keys and the other as values.

In [2]:
l1 = [1,2,3]
l2 = ['a','b','c']
dictionary_list = dict(zip(l1,l2))
print(dictionary_list)

{1: 'a', 2: 'b', 3: 'c'}

Exercise 92: Create a dictionary with keys as numbers and values as their squares

In [4]:
n = 5
squared_dict = {i : i **2 for i in range(1,n + 1)}
print(squared_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

Exercise 93: Check if two strings are anagrams.

In [5]:
s1 = 'listen'
s2 = 'silent'
are_gram = sorted(s1) == sorted(s2)
print(are_gram)

True

Exercise 94: Count the number of vowels in a string.

In [6]:
vowels = ['a','e','i','o','u','A','E','I','O','U']
s = 'Hello World'
count = 0
for word in s.split():
    for char in word:
        if char in vowels:
            count += 1
print(count)

3

Exercise 95: Check if a string contains only digits.

In [7]:
s = '123456'
is_digit_only = s.isdigit()
print(is_digit_only)

True

Exercise 96: Find the first non-repeated character in a string.

In [10]:
s ='swiss'
for char in s:
    if s.count(char) == 1:
        print(char)
        break

w

Exercise 97: Reverse each word in a sentence.

In [17]:
sentence = 'Hello World'
words = sentence.split()
reversed_words = []
for word in words:
    reversed_words.append(word[::-1])
reversed_sentence = ' '.join(reversed_words)
print(reversed_sentence)

olleH dlroW

Exercise 98: Generate a list of Fibonacci numbers up to a given number.

In [18]:
def fibonacci_upto_n(n):
    fib_sequence = [0, 1]
    while fib_sequence[-1] < n:
        fib_sequence.append(fib_sequence[-1] + fib_sequence[-2])
    return fib_sequence[:-1]
print(fibonacci_upto_n(100))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

Exercise 99: Remove all whitespaces from a string.

In [19]:
s = 'a b c d'
s_without_space = s.replace(' ','')
print(s_without_space)

abcd

Exercise 100: Replace all occurrences of a substring in a string.

In [21]:
s = "Hello world, welcome to the world of Python family."
new_s = s.replace('world', 'universe')
print(new_s)

Hello universe, welcome to the universe of Python family.